apple's css


.column {
    position: relative;
    z-index: 1;
    min-height: 2px;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%
}



.buystrip {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    max-width: 980px;
    min-width: 698px;
    margin-left: auto;
    margin-right: auto
}


.buystrip-block-icon {
    margin-left: auto;
    margin-right: auto
}

.buystrip-block-title {
    font-size: 24px;
    line-height: 1.3333;
    font-weight: 200
}

.buystrip-block-copy {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #666;
    margin-top: 0.125em
}

.buystrip-block-icon-online {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/watch/e/images/buystrip_online_large.png");
    background-size: 44px 44px;
    height: 44px;
    width: 44px
}

.buystrip {
    padding-top: 0;
    margin-top: -60px
}

.buystrip-block-title {
    padding-top: 20px
}

.buystrip-block-icon-online {
    background-repeat: no-repeat;
    background-image: url("http://images.apple.com/v/watch/e/images/buystrip_online_large.png");
    background-size: 44px 44px;
    height: 44px;
    width: 44px
}
