/* GENERAL STYLING */

* {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: lighter;
}

body {
    background-color: #F7F7F7;
    font-size: 30px;
    color: black;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;

}


a {
    font-size: 15px;
}

h3 {
    text-align: center;
}


/* TABLE */

table {
    width: 80%;
    background-color: #e3e3e3;
    margin: 0 auto;
    padding: 10px;
}

th {
    width: 30%;
    margin: 0 auto;
}

td {
    text-align: center;
    vertical-align: top;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}


/* TABS */

.container{
    width: 80%;
    margin: 0 auto;
}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* FOOTER */
.circle {
    display: block;
    margin: auto;
}

.floating-circle {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 150;
}

.floating-footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: white;
    opacity: .7;
    border-top-width: thick;
    border-top-style: solid;
    border-top-color: #336699;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: white;
    opacity: 1;
}



/* SLIDE DOWN */
#panel1 {
    background-color: #e3e3e3;
}

#flip1 {
    font-size: 20px;
    font-weight: 600;
    display: inline;
    background-color: yellow;
}

#panel2 {
    background-color: #e3e3e3;
}

#flip2 {
    font-size: 20px;
    font-weight: 600;
    display: inline;
    background-color: yellow;
}

#panel3 {
    background-color: #e3e3e3;
}

#flip3 {
    font-size: 20px;
    font-weight: 600;
    display: inline;
    background-color: yellow;
}

#panel4 {
    background-color: #e3e3e3;
}

#flip4 {
    font-size: 20px;
    font-weight: 600;
    display: inline;
    background-color: yellow;
}

.embed-extra-info {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.embed-extra-info iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 80%;
    height: 80%;
}

#p-slide {
    display: inline;
}

/* STORY */
#story {
    width: 80%;
    margin:auto;
}


/* CECILE'S GRAPH */
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
